@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 mt-3 mb-4">Курсовой проект</h1>
    <p class="h4 mb-5">Система учёта фактических трудозатрат сотрудников ООО "ОКТА ГРУПП"</p>
</div>
