@model List<Dictionary<string, string>>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <h1 class="mt-3 mb-3">Администратор</h1>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h4 class="mt-5">Сотрудники</h4>
        <div>
            <table class="table table-striped align-middle table-responsive fixed-table">
                <thead>
                    <tr>
                        @foreach (var item in Model[0])
                        {
                            <th scope="col">@item.Key</th>
                        }
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @foreach (var col in item)
                            {
                                <td><p>@col.Value</p></td>
                            }

                            @if (item["Код"] != null)
                            {
                                <td class="text-end" nowrap>
                                    <a asp-controller="Admin" asp-action="UpdateEmployee" asp-route-id=@item["Код"] class="btn btn-dark">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-end">
            <a asp-controller="Admin" asp-action="AddEmployee" class="btn btn-dark">
                Добавить сотрудника
            </a>
        </div>
    </div>
    <div class="col-1"></div>
</div>