html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-font {
    font-size: 20px !important;
}

/*.fixed-table {
    table-layout: fixed !important;
}*/

table {
    max-width: 100%
}

p {
    margin-bottom: 0px !important;
}

.bigger-checkbox {
    transform: scale(1.3);
    opacity: 0.9;
    cursor: pointer;
}
