@model List<Dictionary<string, string>>
@{
    ViewData["Title"] = "GetAllTasks";
}

<div class="row">
    <h1 class="mt-3 mb-3">Менеджер проекта</h1>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h4 class="mt-2">Трудозатраты всех разработчиков проекта</h4>
        <table class="table table-striped align-middle table-responsive fixed-table">
            <thead>
                <tr>
                    @if (Model != null)
                    {
                        @foreach (var item in Model[0])
                        {
                            <th scope="col">@item.Key</th>
                        }
                    }
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            @foreach (var col in item)
                            {
                                <td><p class="my-0">@col.Value</p></td>
                            }

                            @if (item["КодРазработчика"] != null)
                            {
                                <td class="text-center" nowrap>

                                    <a asp-controller="ProjectManager" asp-action="CheckTask" asp-route-projectid=@ViewBag.ProjectId asp-route-taskid=@item["Код"] asp-route-statusid=2 style="color: white;">
                                        <i class="bi bi-check2 px-2" style="font-size: 1.75rem; color:black;"></i>
                                    </a>
                                    <a asp-controller="ProjectManager" asp-action="CheckTask" asp-route-projectid=@ViewBag.ProjectId asp-route-taskid=@item["Код"] asp-route-statusid=1>
                                        <i class="bi bi-x-lg" style="font-size: 1.75rem; color:black;"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="text-end">
            <a asp-controller="ProjectManager" asp-action="Index" asp-route-projectid=@ViewBag.ProjectId class="btn btn-secondary">
                Назад
            </a>
        </div>
    </div>
    <div class="col-1"></div>
</div>
