@model Должности
@{
    ViewData["Title"] = "UpdatePosition";
}

<div class="row">
    <h1 class="mt-3 mb-3">Администратор баз данных</h1>
</div>

<form method="post" asp-action="UpdatePosition">
    <div class="row">
        <div class="col-3"></div>
        <div class="border p-3 mt-4 col-6">
            <div class="row pb-2">
                <h2>Обновление должности</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="Код">Код</label>
                <input asp-for="Код" class="form-control" value=@Model.Код readonly />
            </div>
            <div class="mb-3">
                <label asp-for="Должность">Должность</label>
                <input asp-for="Должность" class="form-control" value=@Model.Должность />
                <span asp-validation-for="Должность" class="text-danger"></span>
            </div>

            <div class="text-end">
                <a asp-controller="DbAdmin" asp-action="Index" asp-route-tableName="Должности" class="btn btn-secondary mx-3" style="width:150px">
                    Назад
                </a>
                <button type="submit" class="btn btn-dark" style="width:150px">
                    Обновить
                </button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</form>

