@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row align-middle">
        <div class="col"></div>
        <div class="col">
            <div class="row">
                <div class="col"></div>
                <div class="col mt-5 pt-5 login-font">
                    <h1 class="mt-3 text-center">Вход</h1>
                    <form method='post'>
                        <p class="my-3">
                            <label>Логин</label><br />
                            <input name='login' />
                        </p>
                        <p class="my-3">
                            <label>Пароль</label><br />
                            <input type='password' name='password' />
                        </p>
                        @if (ViewBag.Message != null)
                        {
                            <p class="fs-6 text-secondary">@ViewBag.Message</p>
                        }
                        <div class="text-end login-font">
                            <button class="btn btn-dark justify-content-center" type='submit'>Вход</button>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
